.home-page-v-1 .group {
  opacity: 0.2;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 1004px;
  height: 548px;
}
.home-page-v-1 .iphone-15-pro {
  background: url('../assets/images/iphone_15_pro.png') 50% / cover no-repeat;
  position: absolute;
  right: 100px;
  bottom: 0px;
  width: 800px;
  height: 642px;
}
.home-page-v-1 .frame {
  margin: 9px 0 8px 0;
  width: 36px;
  height: 44px;
}
.home-page-v-1 .home {
  margin-right: 9.5px;
  width: 46px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  color: #191919;
}
.home-page-v-1 .about-us {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #191919;
}
.home-page-v-1 .faqs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #191919;
}
.home-page-v-1 .contact-us {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #191919;
}
.home-page-v-1 .group-1171283000 {
  margin: 21px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 338px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .download-app {
  margin-left: 50px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
}
.home-page-v-1 .arrow-1 {
  background: #FFFFFF;
  margin: 10.5px 0 8.5px 0;
  width: 39px;
  height: 0px;
}
.home-page-v-1 .frame-1171283029 {
  border-radius: 50px;
  border: 1px solid #2B9DF5;
  background: #2B9DF5;
  display: flex;
  flex-direction: row;
  padding: 19px 0;
  width: 210px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1450px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283031 {
  border-radius: 59px;
  background: #FFFFFF;
  margin-bottom: 145px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 10px 10px 79px;
  width: 1360px;
  box-sizing: border-box;
 
 
}
.home-page-v-1 .welcome-to-javers-shaver {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .frame-1171283001 {
  border-radius: 50px;
  background: rgba(43, 157, 245, 0.1);
  margin-bottom: 12px;
  display: flex;
  align-self: flex-start;
  padding: 8px 20.5px 7px 20px;
  box-sizing: border-box;
}
.home-page-v-1 .seamless-salon-booking-at-your-fingertips {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 900;
  font-size: 50px;
  line-height: 1.3;
  color: #FFFFFF;
  position: relative;
    bottom: 50px;
}
.seamless-salon-booking-at-your-fingertips-sub10 {
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 800;
  font-size: 68px;
  line-height: 1.333;
}
.seamless-salon-booking-at-your-fingertips {
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 68px;
  line-height: 1.333;
}
.home-page-v-1 .group-1171283002 {
  border-radius: 50px;
  margin: 0 95px 21px 50px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .book-barbering{
  margin: 0 95px 40px 50px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;

  color: #EAEAEA;
  position: relative;
    bottom: 100px;

}
.home-page-v-1 .vector-55 {
  width: 22.8px;
  height: 27px;
}
.home-page-v-1 .icoutline-apple {
  margin: 7.5px 12.6px 6.5px 0;
  display: flex;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.home-page-v-1 .download-on-the {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.home-page-v-1 .app-store-1 {
  margin-right: 13.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
}
.home-page-v-1 .group-1171283003 {

  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-page-v-1 .app-store {
  border-radius: 16px;
  background: #2B9DF5;
  position: relative;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  padding: 10px 0 11px 0;
  width: 195px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-57 {
  width: 26.6px;
  height: 29.6px;
}
.home-page-v-1 .mdigoogle-play {
  margin: 6.2px 10.9px 5.2px 20px;
  
  box-sizing: border-box;
}
.home-page-v-1 .get-it-on {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.home-page-v-1 .google-play-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
}
.home-page-v-1 .group-1171283007 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .google-play {
  border-radius: 16px;
  background: #2B9DF5;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 17.1px 11px 0;
  width: 195px;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283009 {
  margin: 0px 0px 0px 50px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 599px;
  box-sizing: border-box;
  position: relative;
    bottom: 100px
}
.home-page-v-1 .container-3 {
  position: relative;
  right: 100px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .container-9 {
  position: absolute;
  top: 40px;
  right: -64px;
  display: flex;
  padding: 0 104px 43px 0;
  height: 789px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283030 {
  background: #03254C;
    position: relative;
    width: 1600px;
    margin: 0px 0px 128px 0px;
    height: 950px;
}
.home-page-v-1 .advantages-benefits {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .frame-11712830011 {
  border-radius: 50px;
  background: rgba(43, 157, 245, 0.1);
  margin-bottom: 12px;
  display: flex;
  padding: 8px 20.4px 7px 20px;
  box-sizing: border-box;
}
.home-page-v-1 .get-many-advantages-when-use-our-mobile-app {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 58px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .group-1171283016 {
  border-radius: 50px;
  margin: 0 1px 41px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .calendar-check-02 {
  margin-bottom: 14px;
  align-self: flex-start;
  width: 42px;
  height: 42px;
}
.home-page-v-1 .seamless-booking {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .book-barbering-sessions-easily-with-javers-shavers-connect-with-explore-salons-read-reviews-check-prices-and-book-your-haircut-with-ease {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.home-page-v-1 .group-1171283018 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283028 {
  margin: 55px 40px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .group-11712830175 {
  position: absolute;

  top: -68.7px;
  width: 229.6px;

}
.home-page-v-1 .mask-group-5 {
  border-radius: 92.1px;
  transform: rotate(17.269deg);
  position: relative;
  margin: 0 241.4px 19.4px 0;
  width: 184.2px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .icon-7 {
  margin: 0 1.4px 4.9px 18.1px;
  width: 15.5px;
  height: 14.2px;
}
.home-page-v-1 .icon-6 {
  width: 35px;
  height: 15.7px;
}
.home-page-v-1 .heart-hand {
  margin: 0 3.5px 17.5px 3.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 42px;
  box-sizing: border-box;
}
.home-page-v-1 .reviews-and-ratings {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .read-reviews-and-ratings-with-javers-shavers-connect-with-top-salons-nearby-and-book-your-haircut-with-confidence {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.home-page-v-1 .group-1171283021 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283026 {
  margin: 71.6px 0 13px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
    left: 100px;
}
.home-page-v-1 .container-10 {
  margin: 0 14.4px 36px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .user-check-01 {
  margin-bottom: 14px;
  align-self: flex-start;
  width: 42px;
  height: 42px;
}
.home-page-v-1 .real-time-availability {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .check-real-time-availability-with-javers-shavers-find-and-book-salons-nearby-instantly {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.home-page-v-1 .group-1171283022 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283025 {
  margin: 27px 180px 52px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .ellipse-1 {
  filter: blur(117px);
  border-radius: 124px;
  background: #2B9DF5;
  margin-right: 112px;
  width: 248px;
  height: 248px;
}
.home-page-v-1 .check-done-02 {
  margin-bottom: 14px;
  align-self: flex-start;
  width: 42px;
  height: 42px;
}
.home-page-v-1 .innovative-matching-system {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .book-barbering-sessions-effortlessly-with-javers-shavers-connect-with-skilled-barbers-nearby-and-enjoy-personalized-services-with-our-innovative-matching-system {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.home-page-v-1 .group-1171283019 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283027 {
  margin: 14px 0 13px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
    left: 180px;

}
.home-page-v-1 .container-11 {
  margin: 0 13.6px 41px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .icon-8 {
  width: 31.5px;
  height: 31.5px;
}
.home-page-v-1 .scissors-02 {
  margin: 0 5.3px 19.3px 5.3px;
  display: flex;
  align-self: flex-start;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
}
.home-page-v-1 .explore-nearby-salons {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .discover-nearby-salons-with-javers-shavers-connect-with-skilled-barbers-read-reviews-and-book-your-haircut-effortlessly {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.home-page-v-1 .group-1171283020 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283029 {
  margin: 5.3px 420px 90.9px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-wrap: break-word;
  position: relative;
    right: 20px;
}
.home-page-v-1 .group-11712830174 {
  position: absolute;
  left: -49.5px;

  width: 181.6px;
  height: 244.8px;
}
.home-page-v-1 .mask-group-4 {
  border-radius: 72.9px;
  transform: rotate(38.74deg);
  position: relative;
  margin: 55px 9.1px 0 0;
  width: 145.8px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .phone-01 {
  margin-bottom: 14px;
  align-self: flex-start;
  width: 42px;
  height: 42px;
}
.home-page-v-1 .user-friendly-interface {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .enjoy-auser-friendly-interface-with-javers-shavers-easily-connect-with-nearby-salon-and-book-your-haircut-in-seconds {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.home-page-v-1 .group-1171283023 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283024 {
  margin-bottom: 90.9px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}
.home-page-v-1 .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page-v-1 .container-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1146.6px;
  box-sizing: border-box;
}
.home-page-v-1 .container-8 {
  position: relative;
  right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.home-page-v-1 .color-silver-2 {
  background: url('../assets/images/color_silver_2.png') 50% / cover no-repeat;
  position: absolute;
  top: 49px;
  right: 450px;
  width: 358px;
  height: 723px;
}
.home-page-v-1 .group-1171283033 {
  position: relative;
  margin: 0 135px 105.1px 135px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.home-page-v-1 .group-11712830172 {
  position: absolute;
  left: -49.5px;
  top: -53.5px;
  width: 181.6px;
  height: 244.8px;
}
.home-page-v-1 .mask-group-2 {
  border-radius: 72.9px;
  transform: rotate(38.74deg);
  position: absolute;
  right: 44.1px;
  bottom: 20.1px;
  width: 145.8px;
  height: 145.8px;
}
.home-page-v-1 .group-11712830173 {
  position: absolute;
  left: -47.2px;
  top: -60px;
  width: 229.6px;
  height: 309.5px;
}
.home-page-v-1 .mask-group-3 {
  border-radius: 92.1px;
  transform: rotate(17.269deg);
  position: absolute;
  left: 26px;
  top: 10px;
  width: 184.2px;
  height: 184.2px;
}
.home-page-v-1 .about-us-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .frame-11712830012 {
  border-radius: 50px;
  background: rgba(43, 157, 245, 0.1);
  margin: 0 0.5px 33px 0.5px;
  align-self: flex-start;
  padding: 8px 20px 7px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .about-javershavers-your-premier-salon-booking-platform {
  margin-bottom: 92px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #191919;
}
.home-page-v-1 .welcome-to-javershavers-your-premier-destination-for-seamless-barber-and-salon-bookings-conveniently-available-through-our-intuitive-web-platform-discover-top-notch-services-from-trusted-salons-and-freelance-barbers-all-designed-to-enhance-your-grooming-and-self-care-experience-at-javershavers-we-prioritize-your-convenience-and-satisfaction-explore-our-user-friendly-interface-to-effortlessly-book-appointments-for-everything-from-stylish-haircuts-to-luxurious-spa-treatments-we-ensure-every-interaction-is-secure-and-transparent-backed-by-reliable-customer-support-to-guarantee-ahassle-free-experience-join-the-growing-javershavers-community-today-and-redefine-how-you-approach-grooming-and-self-care-let-javershavers-be-your-trusted-partner-in-looking-and-feeling-your-best-every-time {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #515556;
}
.welcome-to-javershavers-your-premier-destination-for-seamless-barber-and-salon-bookings-conveniently-available-through-our-intuitive-web-platform-discover-top-notch-services-from-trusted-salons-and-freelance-barbers-all-designed-to-enhance-your-grooming-and-self-care-experience-at-javershavers-we-prioritize-your-convenience-and-satisfaction-explore-our-user-friendly-interface-to-effortlessly-book-appointments-for-everything-from-stylish-haircuts-to-luxurious-spa-treatments-we-ensure-every-interaction-is-secure-and-transparent-backed-by-reliable-customer-support-to-guarantee-ahassle-free-experience-join-the-growing-javershavers-community-today-and-redefine-how-you-approach-grooming-and-self-care-let-javershavers-be-your-trusted-partner-in-looking-and-feeling-your-best-every-time-sub1 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.home-page-v-1 .frame-1171283004 {
  box-shadow: 0px 1px 31.4px 0px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  background: #FFFFFF;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  padding: 34px 34.4px 34px 34px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283005 {
  box-shadow: 0px 1px 31.4px 0px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  background: url('../assets/images/frame_1171283005.jpeg') 50% / cover no-repeat;
  margin-bottom: 29.9px;
  width: 570px;
  height: 400px;
}
.home-page-v-1 .container {
  margin-right: 26.4px;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .verified-salons {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #515556;
}
.home-page-v-1 .frame-1171283009 {
  border-radius: 24px;
  background: #F8F9FB;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 238px;
}
.home-page-v-1 .container-1 {
 
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .verified-barbers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #515556;
}
.home-page-v-1 .frame-1171283011 {
  border-radius: 24px;
  background: #F8F9FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 238px;
}
.home-page-v-1 .container-1 {
  
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
}
.home-page-v-1 .k {
  margin-right: 16.2px;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .genuine-customers {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #515556;
}
.home-page-v-1 .frame-11712830101 {
  border-radius: 24px;
  background: #F8F9FB;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 238px;
}
.home-page-v-1 .container-2 {
  margin-top:10px;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #2B9DF5;
}
.home-page-v-1 .booking-everyday {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #515556;
}
.home-page-v-1 .frame-1171283012 {
  border-radius: 24px;
  background: #F8F9FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 238px;
}
.home-page-v-1 .container-2 {
  display: flex;
  flex-direction: row;
 
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283010 {
  box-shadow: 0px 1px 31.4px 0px rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: 570px;
  box-sizing: border-box;
}
.home-page-v-1 .container {
  margin-top: 0.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 570px;
  box-sizing: border-box;
}
.home-page-v-1 .container-7 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283003 {
  background: #03254C;
  position: relative;
  margin-bottom: 217px;
  display: flex;
  padding: 102px 135px;
  box-sizing: border-box;
}
.home-page-v-1 .connect-and-communicate-directly-with-your-solons {
  margin: -80px 30px 20px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}
.home-page-v-1 .engage-directly-with-your-barber-through-our-intuitive-chat-feature-designed-to-streamline-communication-and-ensure-your-grooming-needs-are-perfectly-understood {
  margin: 0px 30px 20px 30px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #555555;
}
.home-page-v-1 .learn-more {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  position: relative;
    left: 65px;
}
.home-page-v-1 .frame-52 {
  border-radius: 35px;
  background: #2B9DF5;
  display: flex;
  align-self: flex-start;
  padding: 23px 21.9px 19px 0;
  width: 253.3px;
  box-sizing: border-box;
  position: relative;
  left: 30px;
}
.home-page-v-1 .group-1171282990 {
  border-radius: 35px;
  margin: 115px 115.9px 115px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .group-3 {
  opacity: 0.2;
  transform: rotate(-15deg);
  position: absolute;
  top: -15.2px;
  right: -156.5px;
  width: 788.3px;
  height: 430.3px;
}
.home-page-v-1 .screen {
  position: relative;
  width: 388.7px;
  height: 841.1px;
}
.home-page-v-1 .blue {
  background: url('../assets/images/Frame\ 50.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 435.5px;
  height: 880px;
}
.home-page-v-1 .iphone-16 {

  left: 50%;
  bottom: -352px;
  translate: -50% 0;
  display: flex;
  padding: 19.4px 23.4px;
  width: 435.5px;
  height: 880px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-50 {
  border-radius: 32px;
    background: #03254C;
    position: relative;
    width: 500px;
    height: 500px;
    right: 90px;
    bottom: 80px;

}
.home-page-v-1 .group-1171282992 {
  margin: 0 0 150px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-5 {
  transform: rotate(-120deg);
    /* position: absolute; */
    /* top: -154.3px; */
    /* right: -103.5px; */
    width: 500px;
}
.home-page-v-1 .screen-2 {
  position: relative;
  width: 388.7px;
  height: 841.1px;
}
.home-page-v-1 .blue-2 {
  background: url('../assets/images/Frame\ 52.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 435.5px;
  height: 880px;
}
.home-page-v-1 .iphone-162 {
  position: absolute;
  left: 50%;
  top: -346px;
  translate: -50% 0;
  display: flex;
  padding: 19.4px 23.4px;
  width: 435.5px;
  height: 880px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-511 {
  border-radius: 32px;
  background: #03254C;
  position: relative;
  margin-right: 82px;
  width: 500px;
  height: 500px;
  position: relative;
  bottom: 90px;
}
.home-page-v-1 .discover-our-salon-barbers {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}
.home-page-v-1 .explore-our-diverse-team-of-talented-barbers-and-stylists-each-dedicated-to-providing-exceptional-service-tailored-to-your-unique-style-preferences {
  margin-bottom: 54px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #555555;
}
.home-page-v-1 .learn-more-2 {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  position: relative;
    left: 65px;
}
.home-page-v-1 .frame-522 {
  border-radius: 35px;
  background: #2B9DF5;
  display: flex;
  align-self: flex-start;
  padding: 23px 21.9px 19px 0;
  width: 253.3px;
  box-sizing: border-box;
}
.home-page-v-1 .group-11712829911 {
  border-radius: 35px;
  margin: 115px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  bottom: 130px;
}
.home-page-v-1 .group-1171282994 {
  margin: 0 119.1px 150px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .access-and-manage-your-bookings {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}
.home-page-v-1 .effortlessly-view-and-manage-your-bookings-with-our-user-friendly-platform-whether-you-need-to-check-upcoming-appointments-save-important-dates-or-make-changes-to-your-schedule {
  margin-bottom: 54px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #555555;
}
.home-page-v-1 .learn-more-1 {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  position: relative;
  left: 65px;
}
.home-page-v-1 .frame-521 {
  border-radius: 35px;
  background: #2B9DF5;
  display: flex;
  align-self: flex-start;
  padding: 23px 21.9px 19px 0;
  width: 253.3px;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171282991 {
  border-radius: 35px;
  margin: 115px 101.3px 115px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
    bottom: 230px;
}
.home-page-v-1 .group-4 {
  opacity: 0.2;
  transform: rotate(-120deg);
  
  top: -154.3px;
  right: -103.5px;
  width: 500px;
  height: 430.3px;
}
.home-page-v-1 .screen-1 {
  position: relative;
  width: 441.7px;
  height: 955.8px;
}
.home-page-v-1 .blue-1 {
  background: url('../assets/images/Frame\ 51.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.home-page-v-1 .iphone-161 {
  position: absolute;
  left: 50%;
  bottom: -472px;
  translate: -50% 0;
  display: flex;
  padding: 22.1px 26.6px;
  width: 494.9px;
  height: 1000px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-51 {
  border-radius: 32px;
  background: #03254C;
  position: relative;
  width: 500px;
    height: 500px;
    position: relative;
    right: 50px;
    bottom: 200px;
}
.home-page-v-1 .group-1171282993 {
  margin-right: 29px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .frame-59 {
  margin: 0 85px 140px 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .frequently-asked-question {
  margin: 0 0 43px 15.2px;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  color: #191919;
  position: relative;
  bottom: 340px;
}
.frequently-asked-question {
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.333;
  color: #2B9DF5;
}
.home-page-v-1 .vector-136 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-2 {
  margin: 8.2px 14.5px 62.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .what-is-javershavers {
  margin: 0 21.2px 10px 21.2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .javers-shavers-is-abarber-booking-app-that-connects-you-with-skilled-barbers-for-personalized-grooming-services-our-app-makes-it-easy-to-find-review-and-book-barbers-in-your-area {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #515556;
}
.home-page-v-1 .frame-1171283019 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283018 {
  border-radius: 20px;
  background: #F8F9FB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  padding: 24px 38.5px 24px 36.5px;
  width: 1024px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-138 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-3 {
  margin: 8.3px 0 10.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .how-do-ibook-abarber {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .frame-11712830192 {
  display: flex;
  box-sizing: border-box;
}
.home-page-v-1 .frame-11712830191 {
  border-radius: 20px;
  background: #F8F9FB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
 
  padding: 24px 0 24px 36.5px;
  width: 1004px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-139 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-4 {
  margin: 8.3px 0 10.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .are-the-barbers-verified {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .frame-11712830193 {
  display: flex;
  box-sizing: border-box;
}
.home-page-v-1 .frame-11712830201 {
  border-radius: 20px;
  background: #F8F9FB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  
  padding: 24px 0 24px 36.5px;
  width: 1004px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-141 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-5 {
  margin: 8.3px 0 10.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .how-do-ibook-abarber-1 {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .frame-11712830194 {
  display: flex;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283021 {
  border-radius: 20px;
  background: #F8F9FB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
 
  padding: 24px 0 24px 36.5px;
  width: 1004px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-142 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-6 {
  margin: 8.3px 0 10.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .what-types-of-services-are-available {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .frame-11712830195 {
  display: flex;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283022 {
  border-radius: 20px;
  background: #F8F9FB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
 
  padding: 24px 0 24px 36.5px;
  width: 1004px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-144 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-7 {
  margin: 8.3px 0 10.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .can-ireschedule-or-cancel-my-appointment {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .frame-11712830196 {
  display: flex;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283023 {
  border-radius: 20px;
  background: #F8F9FB;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  
  padding: 24px 0 24px 36.5px;
  width: 1004px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-145 {
  width: 15px;
  height: 7.5px;
}
.home-page-v-1 .frame-8 {
  margin: 8.3px 14.5px 10.3px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.home-page-v-1 .how-do-ileave-areview-for-abarber {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .frame-11712830197 {
  display: flex;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283024 {
  border-radius: 20px;
  background: #F8F9FB;
  display: flex;
  flex-direction: row;
  padding: 24px 0 24px 36.5px;
  width: 1004px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283020 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  bottom: 330px;
  right: 30px;
}
.home-page-v-1 .frame-1171283027 {
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .download-javershavers-today-your-gateway-to-effortless-barber-salon-bookings {
  margin: 0 51.4px 16px 68.5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 36px;
  line-height: 1.3;
  color: #FFFFFF;
}
.home-page-v-1 .unlock-the-ultimate-convenience-of-booking-your-next-haircut-or-spa-treatment-with-app-name-download-our-app-now-to-enjoy-seamless-navigation-secure-transactions-and-access-to-awide-network-of-trusted-salons-and-freelance-barbers {
  margin: 0 30px 30px 100px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #E9E9E9;
}
.home-page-v-1 .vector-239 {
  width: 22.8px;
  height: 27px;
  width: 22.8px;
    height: 27px;
    position: relative;
    left: 20px;
    top: 10px;
}
.home-page-v-1 .icoutline-apple {
  margin: 7.5px 12.6px 6.5px 20px;
  
  box-sizing: border-box;
}
.home-page-v-1 .download-on-the-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.home-page-v-1 .app-store-3 {
  margin-right: 13.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
}
.home-page-v-1 .group-11712830031 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  top: 5px;
  left: 30px;
}
.home-page-v-1 .app-store-2 {
  border-radius: 16px;
  background: #2B9DF5;
  position: relative;
  margin-right: 16px;
  display: flex;
  flex-direction: row;
  padding: 10px 0 11px 0;
  width: 195px;
  box-sizing: border-box;
}
.home-page-v-1 .vector-240 {
  width: 26.6px;
  height: 29.6px;
  position: relative;
    left: 20px;
    top: 5px;
}
.home-page-v-1 .mdigoogle-play-1 {
  margin: 6.2px 10.9px 5.2px 0;
  display: flex;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}
.home-page-v-1 .get-it-on-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.home-page-v-1 .google-play-3 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 20px;
  color: #FFFFFF;
}
.home-page-v-1 .group-11712830071 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
    top: 5px;
    left: 10px;

}
.home-page-v-1 .google-play-2 {
  border-radius: 16px;
  background: #2B9DF5;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 17.1px 11px 0;
  width: 195px;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171283037 {
  margin: 0 0 37px 18px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 406px;
  box-sizing: border-box;
}
.home-page-v-1 .group-11712830176 {
  position: absolute;
  left: -38.4px;
  top: -41.5px;
  width: 140.9px;
  height: 189.9px;
}
.home-page-v-1 .mask-group-6 {
  border-radius: 56.5px;
  transform: rotate(38.74deg);
  position: relative;
  margin-bottom: 113px;
  align-self: flex-end;
  width: 113.1px;
  height: 113.1px;
}
.home-page-v-1 .group-11712830171 {
  position: absolute;
  left: -38.4px;
  top: -41.5px;
  width: 140.9px;
  height: 189.9px;
}
.home-page-v-1 .mask-group-1 {
  border-radius: 56.5px;
  transform: rotate(38.74deg);
  position: relative;
  align-self: flex-start;
  width: 113.1px;
  height: 113.1px;
}
.home-page-v-1 .container-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-page-v-1 .screen-3 {
  position: relative;
  width: 212px;
  height: 458.8px;
}
.home-page-v-1 .blue-3 {
  background: url('../assets/images/iPhone\ 16.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 237.6px;
  height: 480px;
}
.home-page-v-1 .iphone-163 {
  position: absolute;
  left: 397px;
  bottom: 379px;
  display: flex;
  padding: 10.6px 12.8px;
  width: 237.6px;
  height: 480px;
  box-sizing: border-box;
}
.home-page-v-1 .screen-4 {
  position: relative;
  width: 212px;
  height: 458.8px;
}
.home-page-v-1 .blue-4 {
  background: url('../assets/images/iPhone\ 18.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 237.6px;
  height: 480px;
}
.home-page-v-1 .iphone-18 {
  position: absolute;
  right: 396.4px;
  bottom: 379px;
  display: flex;
  padding: 10.6px 12.8px;
  width: 237.6px;
  height: 480px;
  box-sizing: border-box;
}
.home-page-v-1 .screen-5 {
  position: relative;
  width: 249.5px;
  height: 540px;
}
.home-page-v-1 .blue-5 {
  background: url('../assets/images/iPhone\ 17.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  width: 279.6px;
  height: 565px;
}
.home-page-v-1 .iphone-17 {
  position: absolute;
  left: 50%;
  bottom: 337px;
  translate: -50% 0;
  display: flex;
  padding: 12.5px 15px;
  width: 279.6px;
  height: 565px;
  box-sizing: border-box;
}
.home-page-v-1 .group-11712830177 {
  position: absolute;
  left: px;
  top: 20px;
  width: 229.6px;
}
.home-page-v-1 .mask-group-7 {
  border-radius: 92.1px;
  transform: rotate(17.269deg);
  position: absolute;
  left: -99px;
  top: -57px;
  width: 184.2px;
  height: 184.2px;
}
.home-page-v-1 .group-1171283017 {
  position: absolute;
  left: 20px;
  top: 40px;
  width: 115.3px;
  height: 155.5px;
}
.home-page-v-1 .mask-group {
  border-radius: 46.3px;
  transform: rotate(38.74deg);
  position: absolute;
  top: -49px;
  right: 32.9px;
  width: 92.5px;
  height: 92.5px;
}
.home-page-v-1 .frame-1 {
  margin-right: 9.6px;
  width: 36px;
  height: 44px;
}
.home-page-v-1 .vector-121 {
  margin-right: 3.7px;
  width: 15.6px;
  height: 23.1px;
}
.home-page-v-1 .vector-122 {
  margin: 5px 1.6px 0.1px 0;
  width: 16.7px;
  height: 18.1px;
}
.home-page-v-1 .vector-123 {
  margin: 5.3px 0.3px 0.3px 0;
  width: 19.9px;
  height: 17.5px;
}
.home-page-v-1 .vector-124 {
  margin: 5px 3.4px 0.1px 0;
  width: 18.5px;
  height: 18px;
}
.home-page-v-1 .vector-125 {
  margin: 5px 0 0.4px 0;
  width: 10.8px;
  height: 17.7px;
}
.home-page-v-1 .group-1 {
  margin: 1.6px 3.9px 0 0;
  display: flex;
  flex-direction: row;
  width: 90.5px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .vector-127 {
  margin: 1px 3.1px 0 0;
  width: 19px;
  height: 23.5px;
}
.home-page-v-1 .vector-128 {
  margin: 0 3.4px 0.4px 0;
  width: 17.9px;
  height: 24.1px;
}
.home-page-v-1 .vector-129 {
  margin: 6.3px 1.6px 0.2px 0;
  width: 16.6px;
  height: 18px;
}
.home-page-v-1 .vector-130 {
  margin: 6.6px 0.4px 0.4px 0;
  width: 19.9px;
  height: 17.5px;
}
.home-page-v-1 .vector-131 {
  margin: 6.3px 3.4px 0.2px 0;
  width: 18.5px;
  height: 18px;
}
.home-page-v-1 .vector-132 {
  margin: 6.4px 1.4px 0.4px 0;
  width: 10.8px;
  height: 17.7px;
}
.home-page-v-1 .vector-133 {
  margin: 6.3px 0 0.2px 0;
  width: 15.8px;
  height: 18px;
}
.home-page-v-1 .group-2 {
  margin-bottom: 0.2px;
  display: flex;
  flex-direction: row;
  width: 131.8px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171282976 {
  margin: 9.6px 0;
  display: flex;
  flex-direction: row;
  width: 226.2px;
  height: fit-content;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283026 {
  margin: 0 0.2px 54px 0;
  display: flex;
  flex-direction: row;
  width: 271.8px;
  box-sizing: border-box;
}
.home-page-v-1 .for-get-new-information-about-javershaver {
  margin-bottom: 32px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  color: #000000;
}
.home-page-v-1 .enter-your-email-address {
  margin: 13px 10.5px 14px 0;
  display: inline-block;
  width: 191px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #6A6A6A;
}
.home-page-v-1 .submit {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
  position: relative;
  left: 40px;
}
.home-page-v-1 .frame-11712830291 {
  border-radius: 0 8px 8px 0;
  background: #2B9DF5;
  display: flex;
  padding: 14.5px 0;
  width: 143px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283028 {
  border-radius: 8px;
  border: 1px solid #C8C8C8;
  background: #FFFFFF;
  margin: 0 1px 76px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 19.4px;
  width: 467px;
  box-sizing: border-box;
}
.home-page-v-1 .home-1 {
  margin-right: 9.5px;
  width: 45px;
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.home-page-v-1 .services {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-right: 9px;
}
.home-page-v-1 .about-us-2 {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-right: 9px;
}
.home-page-v-1 .faqs-1 {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-right: 9px;
}
.home-page-v-1 .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-right: 9px;
}
.home-page-v-1 .testimonials {
  overflow-wrap: break-word;
  font-family: 'Nohemi', 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-right: 9px;
}
.home-page-v-1 .frame-2 {
  margin: 0 13.1px 28px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
  box-sizing: border-box;
}
.home-page-v-1 .line-2594 {
  opacity: 0.1;
  background: #4A4A4A;
  margin-bottom: 17.7px;
  width: 1240px;
  height: 0px;
}
.home-page-v-1 .copyright-2024-bota-bins-all-rights-reserved {
  margin: 0 10.5px 0.3px 0;
  display: inline-block;
  width: 363px;
  overflow-wrap: break-word;
  font-family: 'Roboto Flex';
  font-weight: 400;
  font-size: 18px;
  color: #4A4A4A;
}
.home-page-v-1 .terms-condition {
  margin-top: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto Flex';
  font-weight: 400;
  font-size: 18px;
  color: #4A4A4A;
  position: relative;
  left: 290px;
}
.home-page-v-1 .privacy-policy {
  margin-bottom: 0.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto Flex';
  font-weight: 400;
  font-size: 18px;
  color: #4A4A4A;
}
.home-page-v-1 .container-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1240px;
  box-sizing: border-box;
}
.home-page-v-1 .group-1171282997 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283025 {
  border-radius: 50px 50px 0 0;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 100px 38px 100px;
  box-sizing: border-box;
}
.home-page-v-1 .frame-1171283017 {
  background: #03254C;
  position: relative;
  display: flex;
  padding: 48px 18px 0 0;
 
  height: 1260px;
  box-sizing: border-box;
  position: relative;
  bottom: 400px;
}
.home-page-v-1 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
